[submodule "hw1-spark-pagerank"]
	path = hw1-spark-pagerank
	url = https://github.com/calvincodes/cs744-page-rank.git
[submodule "hw1-spark-simple-app"]
	path = hw1-spark-simple-app
	url = https://github.com/calvincodes/cs744-simple-spark-app.git
[submodule "hw2-tensorflow"]
	path = hw2-tensorflow
	url = https://github.com/calvincodes/cs744-tensorflow-sgd.git
[submodule "project-aws-firecracker-study"]
	path = project-aws-firecracker-study
	url = https://github.com/v-anshu/aws-firecracker-study.git
[submodule "assignments/hw1-spark-simple-app"]
	path = assignments/hw1-spark-simple-app
	url = https://github.com/calvincodes/cs744-simple-spark-app.git
